@import 'guy.css';



* {
    cursor: url('graphics/cursors/cursor-default.png') 0 0, auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 20vh;
        align-items: flex-start;
    }
}


#guy-controller {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
}