/* Resize the cursors */



* {
    cursor: url('cursor_classic_2.svg') 0 0, auto;
}

/* input[type="text"], textarea {
cursor: url('cursor_text.png') 8 16, auto;
}

/* Center the text cursor */
/* input[type="text"], textarea {
cursor: url('cursor_text.png') 4 12, auto;
} */ 

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-container {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .button {
        position: absolute;
        width: 100%;
        height: 100%;

        outline: none;
        border: none;
        background-color: transparent;
        background-image: url('button.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        
        display: flex;
        justify-content: center;
        align-items: center;

        top: -10%;
        left: -10%;

        transition-duration: .5s;

        cursor: url('cursor_pointer.svg') 0 0, auto;

        img {
            width: 60%;

            cursor: url('cursor_pointer.svg') 0 0, auto;
        }
    }

    .button-shadow {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: url('button_shadow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition-duration: .5s;
    }

    .highlight-star {
        position: absolute;
        opacity: 0;
    }

    .big-star {
        top: -15%;
        left: -25%;
        width: 20px;
        animation: highlight-star 1s .5s linear;
    }

    .small-star {
        bottom: 0%;
        right: 5%;
        width: 10px;
        animation: highlight-star 1s linear;
    }
}

@keyframes highlight-star {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) {
    .button-container:active {
        .button {
            top: 0%;
            left: 0%;
        }
    
        .button-shadow {
            opacity: 0;
        }
    }   
}
@media screen and (min-width: 768px){
    .button-container:hover {
        .button {
            top: 0%;
            left: 0%;
        }
    
        .button-shadow {
            opacity: 0;
        }
    } 
}

